OPENMRS_OMRS_DB_PASSWORD=
OPENMRS_OPENELIS_ATOMFEED_PASSWORD=
OPENMRSDB_MYSQL_ROOT_PASSWORD=
DCM4CHEE5-DB_POSTGRES_PASSWORD=
PACS-INTEGRATION-DCM5_DB_PASSWORD=
PACS-INTEGRATION-DCM5_OPENMRS_ATOMFEED_PASSWORD=
